/* .section_subtitle{
    padding-left: 685px;
    font-size: 12px;
    
} */
.skills2_title{
  text-align: center;
}
.skills2_subtitle{
  text-align: center;
}
.skills_container{
    margin-top: 20px;
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills_content{
    background-color: var(--container-color);
    border:1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}
.skills_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}
.skills_box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills_group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}
.skills_data{
    display: flex;
    column-gap: 0.5rem;

}
.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);

}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}
.skills_level{
    font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skills_container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
  }
  /* .section_title{
    padding-left: 400px;
  }
  .section_subtitle{
    padding-left: 395px;
    font-size: 12px;
  } */
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
  
    /* .section_title{
        padding-left: 280px;
      }
      .section_subtitle{
        padding-left: 275px;
        font-size: 12px;
      } */

}
  
  @media screen and (max-width: 576px) {
 .skills_container{
    grid-template-columns: 1fr;
 }  
 .skills_content{
    padding: 1.5rem;
 }
 .section_title{
    padding-left: 190px;
  }
  .section_subtitle{
    padding-left: 175px;
    font-size: 12px;
  }

}
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills_box{
        column-gap:1.25rem;
    }
    .skills_name{
        font-size: var(--container-color);
    }
    .section_title{
        padding-left: 80px;
      }
      .section_subtitle{
        padding-left: 75px;
        font-size: 12px;
      }
  }
  
  
  
  
  
  